# The “lol” header-only framework
[submodule "lol"]
	path = lol
	url = ../../lolengine/lol.git
	branch = master

# A very large repository with Windows binaries
[submodule "external"]
	path = external
	url = ../../lolengine/ext-binaries.git

# Some libraries we embed in the engine
[submodule "imgui"]
	path = src/3rdparty/imgui
	url = ../../lolengine/ext-imgui.git
	branch = master
[submodule "bullet3"]
	path = src/3rdparty/bullet3
	url = ../../lolengine/ext-bullet3.git
	branch = lol
[submodule "lua"]
	path = src/3rdparty/lua
	url = ../../lolengine/ext-lua.git
	branch = lol
[submodule "cpp-httplib"]
	path = src/3rdparty/cpp-httplib
	url = ../../lolengine/ext-cpp-httplib.git
