# Autotools cruft
*.o
*.lo
*.a
*.la
*.exe
*.so
*.elf
*.self
*.nexe
*.userprefs
*.usertasks
*.pidb
.auto
.libs
.deps
.dirstamp
.*.androiddir
.*.androidstamp
Makefile
Makefile.in
aclocal.m4
build/autotools/m4/libtool.m4
build/autotools/m4/ltoptions.m4
build/autotools/m4/ltsugar.m4
build/autotools/m4/ltversion.m4
build/autotools/m4/lt~obsolete.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
lolengine-*.tar.*
test-suite.log
# Personal stuff
patch-*.diff
# Debugging cruft
core
!core/
core.*
vgcore.*
callgrind.out.*
perf.data*
*.gcda
*.gcno
# Editor cruft
.*.swp
*~
# Visual Studio cruft
*.vcxproj.user
*.csproj.user
binaries/*Debug
binaries/*Release
build/vs2010/ipch
build/vs2010/*.opensdf
build/vs2010/*.sdf
build/vs2010/*.suo
build/vs2010/*.log
build/vs2010/*.XGD
build/vs2012/ipch
build/vs2012/*.opensdf
build/vs2012/*.sdf
build/vs2012/*.suo
build/vs2012/*.log
build/vs2012/*.XGD
# ReSharper cruft
_ReSharper.*
# Do not exclude anything in external. There is no way to do this recursively
# but the nesting below is currently one level more than our current max.
!external/*
!external/*/*
!external/*/*/*
!external/*/*/*/*
!external/*/*/*/*/*
!external/*/*/*/*/*/*
!external/*/*/*/*/*/*/*
# Our binaries
test/benchsuite
test/btphystest
test/meshviewer
test/nacl_phystest
test/testsuite
test/sandbox/sample
test/math/pi
test/math/poly
test/nacl_phystest
test/xolotl/xolotl
tools/make-font
demos/lol.js/lol.js
demos/tutorial/01_triangle
demos/tutorial/02_cube
demos/tutorial/03_noise
demos/tutorial/04_texture
demos/tutorial/05_easymesh
demos/tutorial/06_sprite
demos/tutorial/07_input
demos/tutorial/08_fbo
demos/tutorial/11_fractal
demos/tutorial/12_voronoi
# Our data
doc/doxygen.cfg
doc/doxygen.log
doc/html
doc/latex
doc/man
# Our test suites
test/testsuite.log
test/testsuite.trs
# Our tools
tools/vslol/bin/*/*
tools/vslol/obj/*/*
tools/vslol/obj/*/*/*
tools/vslol/obj/*/*/*
tools/vslol/*.suo
