# Autotools cruft
*.o
*.lo
*.a
*.la
*.exe
*.userprefs
*.usertasks
*.pidb
.auto
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
lolengine-*.tar.*
# Debugging cruft
core
core.*
# Editor cruft
.*.swp
*~
# Our binaries
deushax/deushax
deushax/editor
monsterz/monsterz
tools/make-font
# Our data
art/*.png
art/test/*.png
gfx/font/*.png
