[submodule "external"]
	path = external
	url = ../../lolengine/lol-external.git
[submodule "src/3rdparty/imgui"]
	path = src/3rdparty/imgui
	url = ../../lolengine/imgui.git
[submodule "src/3rdparty/bullet3"]
	path = src/3rdparty/bullet3
	url = ../../lolengine/bullet3.git
[submodule "src/3rdparty/lua"]
	path = src/3rdparty/lua
	url = ../../lolengine/lua.git
	branch = lol
[submodule "src/3rdparty/pegtl"]
	path = src/3rdparty/pegtl
	url = ../../lolengine/pegtl.git
[submodule "src/3rdparty/mingw-std-threads"]
	path = src/3rdparty/mingw-std-threads
	url = ../../lolengine/mingw-std-threads.git
