<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Label="Configuration">

    <enable_kinc Condition="'$(KINC_SDK_PATH)'!=''">yes</enable_kinc>

    <!-- XXX: everything below is scheduled for deprecation -->

    <!-- yes/no values -->
    <enable_bullet>yes</enable_bullet>
    <enable_ffmpeg>no</enable_ffmpeg>

    <enable_gl Condition="'$(KINC_SDK_PATH)'==''">yes</enable_gl>
    <enable_gl Condition="'$(KINC_SDK_PATH)'!=''">no</enable_gl>
    <enable_sdl Condition="'$(KINC_SDK_PATH)'==''">yes</enable_sdl>
    <enable_sdl Condition="'$(KINC_SDK_PATH)'!=''">no</enable_sdl>

    <enable_imlib2>yes</enable_imlib2>
    <!-- not available yet -->
    <enable_png>no</enable_png>

  </PropertyGroup>
</Project>
