<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">

  <Identity Name="{LolXboxIdentityName}"
            Publisher="CN={LolXboxPublisherId}"
            Version="{LolXboxAppVersion}"/>

  <TitleId>{LolXboxTitleId}</TitleId>
  <MSAAppId>{LolXboxMSAAppId}</MSAAppId>
  <StoreId>{LolXboxStoreId}</StoreId>
  
  <ExecutableList>
    <Executable Name="{TargetName}.exe"
                TargetDeviceFamily="{PlatformName}"
                Id="Game"/>
  </ExecutableList>
 
  <ShellVisuals DefaultDisplayName="{LolXboxDisplayName}"
                PublisherDisplayName="{LolXboxPublisherName}"
                Square150x150Logo="authoring/Square150x150Logo.png"
                Square44x44Logo="authoring/Square44x44Logo.png"
                Description="{ProjectName}"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="authoring/SplashScreenImage.png"
                StoreLogo="authoring/StoreLogo.png"/>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

</Game>
