<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">

  <Identity Name="#####" Publisher="#####" Version="#####"/>

  <TitleId>#####</TitleId>
  <MSAAppId>#####</MSAAppId>
  <StoreId>#####</StoreId>

  <ExecutableList>
    <Executable Name="#####"
                TargetDeviceFamily="#####"
                Id="Game"/>
  </ExecutableList>

  <ShellVisuals DefaultDisplayName="#####"
                PublisherDisplayName="#####"
                Square150x150Logo="authoring/Square150x150Logo.png"
                Square44x44Logo="authoring/Square44x44Logo.png"
                Description="#####"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="authoring/SplashScreenImage.png"
                StoreLogo="authoring/StoreLogo.png"/>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

</Game>
